version: 2.1

aws-cli: &aws-cli
  docker:
    - image: amazon/aws-cli

jobs:
  provision-infrastructure:
    <<: *aws-cli
    steps:
      - checkout
      - run:
          name: Ensure back-end infrastructure exists
          command: |
            aws cloudformation deploy \
              --template-file infrastructure/back-end.yml \
              --tags project=liveperson-twitter-search \
              --stack-name liveperson-twitter-search-be \
              --parameter-overrides ImageID=${UBUNTU_AMI_ID} KeyName=${SSH_KEY_NAME} \
                SSHCidrIp=${DEVELOPER_JUMPBOX_CIDR_IP} WebCidrIp=${WEB_CIDR_IP}
          no_output_timeout: 20m
      - run:
          name: Ensure front-end infrastructure exists
          command: |
            aws cloudformation deploy \
              --template-file infrastructure/front-end.yml \
              --tags project=liveperson-twitter-search \
              --stack-name liveperson-twitter-search-fe
      - run:
          name: Ensure ECR infrastructure exists
          command: |
            aws cloudformation deploy \
              --template-file infrastructure/ecr.yml \
              --tags project=liveperson-twitter-search \
              --stack-name liveperson-twitter-search-ecr

workflows:
  liveperson-twitter-search:
    jobs:
      - provision-infrastructure
